body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 10px 0;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgba(44, 62, 80, 0.66);
  border: 4px double white;
  box-shadow: 0 2em 3em rgba(0, 0, 0, 0.65);
  color: #ffffff;
  padding: 25px;
  text-align: center;
  width: 250px;
}

.box a {
  color: #ffffff;
  margin: 15px;
  text-decoration: none;
}

.box a:hover {
  color: #f1c40f;
}

.background {
  height: inherit;
  width: inherit;
  position: absolute;
  z-index: -1;
}

.avatar {
  border: 2px solid white;
  border-radius: 5px;
}

.name {
  font-size: 1.5em;
}

.occupation {
  font-size: 1.25em;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

@media only screen and (min-width: 380px) {
  h1, h2, h3, p {
    margin: 15px 0;
  }

  .box {
    border-radius: 15px;
    width: 450px;
  }

  .name {
    font-size: 2.5em;
  }

  .occupation {
    font-size: 1.75em;
  }

  .links {
    margin-top: 33px;
  }
}
